body{
  --cwhite: #efefed;
  --cblue: #3a8eba;
  background-color: var(--cwhite);
}

a{
  text-decoration: none;
  color: var(--cblue);
}

p{
  color: var(--cblue);
}

.logo-card{
  display:grid;
  justify-content: center;
  align-items: center;
}

.logo-img400{
  display: none;
  max-width: 250px;
  height: auto;
  margin-block: 100px;
}

.logo-img800{
  max-width: 600px;
  height: auto;
  margin-block: 100px;
}

.text-card{
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.phone-link{
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    margin-inline: 20px;
  }
}

@media only screen and (max-width: 500px){
  .logo-img800{
    display: none;
  }

  .logo-img400{
    display: block;
  }

  .text-card{
    text-align: left;
    font-size: medium;
  }

  p{
    margin-inline: 20px;
  }

  .mail-link{
    margin: 20px;
  }

  .phone-link{
    display: grid;
    justify-content: left;
    a{
      margin-top: 20px;
    }
  }

  .score{
    display: none;
  }

}
